* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: cursive;
}

body>h1{
	text-align: center;
	padding: 3%;
	font-size: 300%;
	background-color: lightblue;
}


ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	overflow: auto;
	padding-top: 5%;
}

li {
	width: 40%;
	margin: 2%;
	list-style: none;
	background-color: aliceblue;
	height: 100%;
	border: 0.4rem ridge cadetblue;
	border-radius: 5%;
}

ul li h1 {
	text-align: center;
	height: 5rem;
	line-height: 100%;
	font-size: 150%;
	margin-top: 4%
	
}

h2 {
	text-align: center;
	margin-top: 5%;
}

p {
	text-align: center;
	
}

img {
	margin: 10% 29% 5% ;
	width: 42%;
	border: 0.2rem ridge cadetblue; 
/*	border-radius: 1rem;*/
}
